@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #1B1B1B;
  }
}


.cnx__user_dropdown{
    margin-top: 10px;
    visibility: hidden;
    opacity: 0;
}
.cnx__user_icon_div:hover .cnx__user_dropdown {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
    transition: all .2s ease-in-out;
    z-index: 20;
}

.cnx__custom_height{
  height: calc(100vh - 74px);
}

/* width */
.cnx__scrollbar_container::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  .cnx__scrollbar_container::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  .cnx__scrollbar_container::-webkit-scrollbar-thumb {
    background: rgb(216, 216, 216); 
    border-radius: 10px;
  }
  

  /* Hide scrollbar for Chrome, Safari and Opera */
  .cnx__message_scrollbar::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .cnx__message_scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .cnx__sidebar_scrollbar::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .cnx__sidebar_scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .cnx__side_menu {
    position: relative;
  }

  .cnx__sub_dropdown{
    position: absolute;
    top: 20px;
    left: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease-in-out;
  }

  .cnx__side_menu:hover .cnx__sub_dropdown{
    top: 0;
    opacity: 1;
    visibility: visible;
  }
